<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<a href="/site/../"><div class="header"></div></a>
<div class="nav-bar">
  <ul class="nav-bar">
  <li>
    <a href="about">About</a>
  </li>
  <li>
    <a href="contact">Contact</a>
  </li>
  <li>
    <a href="./articles">Go To Articles</a>
  </li>
  <li>
    <a href="./articles/new">New Article</a>
  </li>
</div>
    <h1>Add an article</h1>
    <form method="POST" action="/articles/<%= id %>?_method=POST">
      <input type="text" name="article[title]" placeholder="Article title" value="<%= article.title %>"><br />
      <input type="text" name="article[author]" placeholder="Article author" value="<%= article.author %>"><br />
      <textarea name="article[content]"><%= article.content %>
      </textarea><br />
      <button type="submit">Save </button>
    </form>
  </body>
</html>
