* {
	font-family: helvetica;
}
body {
	text-align: center;
}

.header {
	background-image: url(http://vignette4.wikia.nocookie.net/dccu/images/6/6f/Logo_Daily_Planet.jpg/revision/latest?cb=20130824070638);
	background-repeat: no-repeat;
	background-size: inherit;
	background-position: center center;
	margin: 0 auto;
	height: 200px;
}

.nav-bar {
	list-style-type: none;
    margin: 20px auto;
    text-align: center;
}
.nav-bar li {
	display: inline;
	margin: 0 10px;
	padding: 10px 40px;
	font-size: 32px;
	border: 4px inset grey;
}

.articles {
	width: 400px;
	margin: 20px 20px;
}

.article {
	float: left;
}