<!--views/site/contact.ejs-->
<!DOCTYPE HTML>
<html>
<head>
	<title>The Daily Planet</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<a href="/"><div class="header"></div></a>
<div class="nav-bar">
	<ul class="nav-bar">
	<li>
		<a href="about">About</a>
	</li>
	<li>
		<a href="contact">Contact</a>
	</li>
	<li>
		<a href="./articles">Go To Articles</a>
	</li>
	<li>
		<a href="./articles/new">New Article</a>
	</li>
</div>
</body>
</html>


